<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save series covers to your photo library.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>moe.aletheia.refresh</string>
		<string>moe.aletheia.refresh.scheduled</string>
		<string>moe.aletheia.downloads</string>
	</array>
</dict>
</plist>
