<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save covers and pages to your photo library.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Unlock collections and sources you've protected with Face ID.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>moe.aletheia.refresh</string>
		<string>moe.aletheia.refresh.scheduled</string>
		<string>moe.aletheia.downloads</string>
		<string>moe.aletheia.metadata.scheduled</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>BAAppGroupID</key>
	<string>group.moe.aletheia</string>
	<key>BAManifestURL</key>
	<string>https://192.168.0.245:8787/download-manifest.json</string>
	<key>BAInitialDownloadRestrictions</key>
	<dict>
		<key>BADownloadDomainAllowList</key>
		<array>
			<string>192.168.0.245</string>
		</array>
		<key>BADownloadAllowance</key>
		<integer>500000000</integer>
		<key>BAEssentialDownloadAllowance</key>
		<integer>0</integer>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>moe.aletheia.backup</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Aletheia Backup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>althbackup</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
